@import "tailwindcss";
@import "./styles/button.css";
@import "./styles/input.css";
/* ===== Base Style Reset ===== */
@layer base {
  html, body {
    @apply h-screen w-screen text-gray-900 antialiased;
    font-family: 'Pretendard', system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  * {
    box-sizing: border-box;
    scrollbar-width: none;
  }

  button {
    box-sizing: content-box;
    cursor: pointer;
  }
  #__next, #root {
    @apply h-full;
  }
  p {
    @apply text-base md:text-lg;
  }
}

@theme {
  --color-main: oklch(0.4979 0.2525 281.84);
  --color-black:oklch(0.235 0 0);
  --color-gray10:oklch(0.4784 0 0);
  --color-gray20:oklch(0.8853 0 0);

}
@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .scrollbar-hide {
    /* Scrollbar 숨기기 */
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }

  .center-absolute {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}